<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    
    <meta name="description" content="Info Setting CS2 lets you upload a Counter-Strike 2 demo and instantly extract the exact crosshair and viewmodel of any player in the match.">    

    <meta name="robots" content="index,follow">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Info Setting CS2">

    <meta property="og:description" content="Extract the exact crosshair and viewmodel of any player from a Counter-Strike 2 demo.">
    
    <meta property="og:url" content="https://infosettingcs2.online">
    
    <meta property="og:type" content="website">

    <link rel="canonical" href="https://infosettingcs2.online/">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

    <title>
    	Info Setting CS2 - CS2 Demo Settings Extractor
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

<script async src="https://www.googletagmanager.com/gtag/js?id=G-EMSX6W3J7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EMSX6W3J7G');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5148710555577944"
     crossorigin="anonymous"></script>

</head>

<body>

<div class="container">

    <h1>
        Info Setting CS2
    </h1>
    
    <p class="subtitle">
    Extract the exact crosshair and viewmodel settings of any player
    <span class="line-break">from a Counter-Strike 2 demo.</span>
    </p>

    <!-- Upload form ALWAYS visible -->

    <form
        id="uploadForm"
        enctype="multipart/form-data"
    >

        <input
            type="file"
            name="demo"
            id="fileInput"
            accept=".dem"
        >

        <label
            for="fileInput"
            class="dropzone"
        >

            <div class="drop-title">
                Drop your demo file here
            </div>

            <div class="drop-sub">
                or click to browse (.dem)
            </div>

        </label>

    </form>

    <!-- Dynamic result -->

    <div id="result"></div>

</div>

<script
    src="{{ url_for('static', filename='script.js') }}"
></script>

</body>
</html>
